.layout {
  --layout-item-padding: 20px;
}

.layout {
  height: 100%;
  display: grid;
  grid-template-columns: min-content 3fr;
  grid-template-rows: 100px 1fr 50px;
  justify-items: stretch;
}

.layout__header {
  grid-column: span 2;
  padding: var(--layout-item-padding);
  background: var(--color-pinkish-red);
}

.layout__heading {
  composes: heading-compose from "core/shared/styles/index.css";
}

.layout__side-bar {
  margin: 10px;
  padding: var(--layout-item-padding);
  border: 2px solid var(--color-off-black);
}

.layout__content {
  padding: var(--layout-item-padding);
}

.layout__footer {
  padding: var(--layout-item-padding);
  background: var(--color-pinkish-red);
  grid-column: span 2;
}
