.timer {
  border-bottom: 1px dashed #4b5757;
  padding: 10px;
  margin: 10px 0;
}

.timer strong {
  font-size: 1.25em;
  padding: 0 5px 0;
  display: inline-block;
  border-right: 1px solid #696262;
}

.timer--started {
  background: #88b788;
}

.timer--done {
  color: grey;
}

.timer--done span {
  text-decoration: line-through;
}

.my-class input {
  margin-right: 10px;
}
