@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,300;1,500;1,600&display=swap");

:root {
  /* colors */
  --color-off-white: rgb(250, 243, 243);
  --color-off-black: rgb(28, 28, 28);
  --color-pinkish-red: rgba(225, 80, 109, .9);

  /* font types */
  --heading-font-size: 20px;
}

/* CSS Modules Composable Classes */
.heading-compose {
  font-size: var(--heading-font-size);
  font-weight: 600;
  margin: .75em 0 .25em 0;
}

/* =====================[ Rules ]================================ */

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-off-white);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
